*.alias
*.sed
alloca.h
configmake.h
dummy.c
errno.h
fcntl.h
getopt-cdefs.h
getopt.h
inttypes.h
libgnu.a
limits.h
locale.h
stdalign.h
stdint.h
stdio.h
stdlib.h
string.h
strings.h
sys/
sysexits.h
time.h
unistd.h
wchar.h
wctype.h
