Makefile
Makefile.in
configure
config.log
config.status
aclocal.m4
ltargz.m4
autom4te.cache
libtool
auto
*.gz
*.patch
*.o
*~
\#*#
.*
!.gitignore
*.bak
*.err
stdout
*.lo
*.la
*.orig
*.rej
*.old
TAGS
INSTALL
*.log
callgrind.*
ms_print.*
massif.*
pan.*
*.dvi
*.aux
*.ps
*.pdf
*.toc
massif.*
*.zip
*.S
*.tgba
*.zip
*.s
*.ii
cachegrind.*
*.gcda
*.gcno
*.info
ltdl
config.h
config.h.in
spot/misc/_config.h
_configs.sed
stamp-h1
*.trs
_*_
spot-*/*
config.cache
*.json
*.fdb_latexmk
*.xz
dt*a-sat.cnf
dt*a-sat.out
dt*a-sat.dbg
*.exe
*.tex
*.out
*.cnf
*.html
*.dstar
*.satlog
*.png
*.svg
GPATH
GRTAGS
GSYMS
GTAGS
*.xz
*.build
*.deb
*.changes
*.dsc
*.gcov
spot.spec
